
<!--<footer class="container-fluid text-center foot" id="footer">-->

<!--        <div class="copyrights">-->
<!--            <p class="white-txt">Online Consultatoin System © 2017-->
<!--            </p>-->
<!--            <hr class="dark-line">-->
<!--            <a class="link" href="#">Home</a>-->
<!--            <a class="link" href="#">Discussions</a>-->
<!--            <br><br>-->
<!--            <p class="white-txt small">-->
<!--                Provide board certified doctors for your convenience to consult any illness -->
<!--            </p>-->
<!--        </div>-->
<!--</footer>-->

<!--</html>-->